@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slide-in-fade-out {
   animation: slideInFadeOutRight 2.5s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes slideInFadeOutRight {
   0% {
      opacity: 0;
      transform: translateX(40px);
   }
   10% {
      opacity: 1;
      transform: translateX(0);
   }
   90% {
      opacity: 1;
      transform: translateX(0);
   }
   /* 100% {
      opacity: 0;
      transform: translateX(40px);
   } */
}

.table :where(th, td) {
   padding-block: calc(0.25rem * 1.5);
}

* {
   scrollbar-width: none;
}

/* Prevent text selection globally */
body {
   user-select: none;
}

/* Allow text selection only in input, textarea, and contenteditable elements */
input,
textarea,
[contenteditable="true"] {
   user-select: text;
}
